body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: cornflowerblue;
  color: darkgreen;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center  
}

h2 {
  width: 75%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ECE63D;
  resize: none;
  text-align: center;
  color: black;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}

input{
  border: 2px solid cornflowerblue;
  width: 25%;
  height: 40px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.button1 {
  background-color: #008CBA;
  padding: 10px 15px;
  border-radius: 4px;
}

.button2 {
  background-color: #008CBA;
  padding: 10px 15px;
  border-radius: 4px;

}
