body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: cornflowerblue;
  color: cornsilk;
  background-image: url('http://www.tematy.info/library/c/clocks-background-hd/clocks-background-hd-01.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center  
}

h2 {
  
 background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
 width: 30%;
 height: 150px;
 font: normal 20px verdana;
 line-height: 25px;
 padding: 2px 10px;
 border: solid 1px #ddd;
 margin-left: auto;
 margin-right: auto;
 color: black
  
}

input{
  border: 2px solid cornflowerblue;
  width: 25%;
  height: 40px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.button1 {
  background-color: #008CBA;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bolder;
}

.button2 {
  background-color: #008CBA;
  padding: 5px 5px;
  border-radius: 4px;
  font-weight: bolder;

}

.button3 {
  background-color: rgb(186, 0, 0);
  padding: 5px 5px;
  border-radius: 4px;
  font-weight: bolder; 
}




/* width: 75%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ECE63D;
  resize: none;
  text-align: center;
  color: black;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto; */